h1 {
  letter-spacing: -2.4px;
  font-size: 40px;
  font-weight: 600;
  margin: 0 !important;
  line-height: 56px !important;
}

h2 {
  letter-spacing: -1.28px;
  font-size: 32px;
  font-weight: 600;
  margin: 0 !important;
  line-height: 40px !important;
}

h3 {
  letter-spacing: -0.48px;
  font-size: 24px;
  font-weight: 600;
  margin: 0 !important;
  line-height: 32px !important;
}

h4 {
  letter-spacing: -0.4px;
  font-size: 20px;
  font-weight: 600;
  margin: 0 !important;
  line-height: 26px !important;
}

h5 {
  letter-spacing: -0.32px;
  font-size: 16px;
  font-weight: 600;
  margin: 0 !important;
  line-height: 20px !important;
}

.css-dev-only-do-not-override-i8rsjg.ant-typography {
  font-size: 14px;
  line-height: 20px;
}

:where(.css-dev-only-do-not-override-bppd0n).ant-typography code {
  font-family: "Geist mono", monospace;
  font-size: 12px;
  line-height: 140%;
}

:where(.css-dev-only-do-not-override-bppd0n).ant-typography kbd {
  font-family: "Geist mono", monospace;
  font-size: 14px;
  line-height: 140%;
}
